.mr-outstanding{
  width: 100%;
  margin:10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mr-outstanding-pdf textarea{
  width: 100%;
  margin: 20px 50px;
}

.mr-outstanding .mr-details{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.mr-outstanding h1{
  text-shadow: 1px 2px 4px rgb(109, 109, 109);
}

.mr-outstanding-pdf{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  align-items: center;
  width: 60vw;
  text-align: center;
  justify-content:center;
}

.mr-outstanding-pdf-container{
  margin: 20px;
  display: flex;
}

.mr-outstanding-pdf input{
  padding: 10px;
  margin: 5px;
}

.mr-outstanding-pdf button{
  text-align: center;
  font-weight: bold;
  /* font-size: ; */
  width: 2rem;
  height: 2rem;
  margin: 5px;
  border-radius: 50%;
  border: none;
  background: #dbffcb;
  box-shadow: 1px 1px 5px black;
}

.mr-outstanding-pdf button:hover{
  background: #16ff16;
  color: white;
  
}



.mr-outstanding-pdf .send-email-button, .mr-outstanding-pdf .create-pdf-button{
  border-radius: 0;
  min-width: 100px;
  margin: 20px;
}

.mr-buttons-container .create-pdf-button{
  display: flex;
  width: fit-content;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.mr-buttons-container{
  display: flex;
}




@media (max-width:700px){
  .mr-details{
    display: flex;
    flex-direction: column;
  }

  .mr-outstanding-pdf{
    width: 100%;
  }

  
}

@media (max-width:1378px) {
  .mr-outstanding-pdf-container{
    display: flex;
    flex-direction: column;
    
  }

  
}