.mr-outstanding-pdf{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  align-items: center;
  /* justify-content: space-  ; */
}

.mr-outstanding-pdf-container{
  margin: 20px;
  
}

.mr-outstanding-pdf input{
  padding: 10px;
  margin: 5px;
}

.mr-outstanding-pdf button{
  width: 2rem;
  height: 2rem;
  margin: 5px;
  border-radius: 50%;
  border: none;
  background: #9dff6f;
  box-shadow: 1px 1px 5px black;
}