.account_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.account_container:hover{
  background: #e4ffd7;

}

.account_container:active{
  transform: scale(0.95);
}

.display_accounts{
  border:none;
  font-size: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30vh;
  background: white;
  box-shadow: 2.5px 3px 5px #00000052;
  margin: 5px;
} 

.account_container_content{
  margin: 15px;
  /* background: #000; */
  width: 100px;
  word-wrap: break-word;
}
