@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Just+Another+Hand&family=Ubuntu:wght@400;500&display=swap');

.itemList{
  min-height: 200vh;
  background-image: url("./images/pexels-fwstudio-33348-129731.jpg");
  background-size:contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.input {
  font-family: "SF Pro";
  max-width: 190px;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
  margin: 10px;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}

.accounts-container .list-holders .party-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accounts-container .list-holders .party-name p{
}

.accounts-container .list-holders button {
  font-family: monospace;
  font-size: 1rem;
  color: #000000;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 10px;
  border: 2px solid #000000;
  background: #ffffff;
  box-shadow: 3px 3px #000000;
  cursor: pointer;
  margin: 35px 10px;
}

.accounts-container .list-holders button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.account-names{
  background-image: url("./images/smallNotepad.png");
  height: 15rem;
  width: 20rem;
  background-size: cover;
  filter: drop-shadow(1px 1px 5px black);
  padding: 5px;
}

.account-names .account-name-value{
  
  font-size: 0.9rem;
  position: relative;
  right: -98px;
  top: 70px;
  font-family:"Gochi Hand" , cursive;
  /* margin: 10px 0; */
  width: 200px;
  padding: 10px 0 10px 0;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}



.account-names .account-name-value>div{
  position: relative;
  left: 10px;
  min-width: 150px;
}


.account-names .account-name-value:hover{
  background: #ffa237dc;
  box-shadow: 1px 1px 5px black;
  transform: scale(1.05);
}

.account-names .account-name-value:active{
  transform: scale(0.95);
}

.account-names img{
  width: 30%;
  filter: drop-shadow(1px 1px 5px black);  
}

.accounts-container {
  /* background: #000; */
  display: flex;
  justify-content: center;
  align-items:flex-end;
  flex-wrap: wrap-reverse;
}

.accounts-container .list-holders{
  filter: drop-shadow(1px 1px 10px black);
  background: white;
  padding: 0 5rem;
  margin: 25px;
  width: 50%;
}

.accounts-container .list-holders>div {
  font-family:"Gochi Hand" , cursive;

}

.accounts-container .list-holders .list-table .headings{
  display: flex;
  justify-content: space-between;
  font-weight: bold;

}

.accounts-container .list-table{
  display: flex;
  flex-direction: column;
}

.accounts-container .list-table .row{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.accounts-container .list-table .row>div{
  width: 200px;
  margin: 0 30px 0 0;
}

.accounts-container .list-table .row input {
  min-width: 100px;
  /* height: 10px; */
  margin: 10px;
  padding: 10px;
}

.accounts-container .list-table .row .discount, .accounts-container .list-table .row .deal  {
  
}

.accounts-container .disc, .accounts-container .deal{
  width: 70px;
  /* background: #000; */
}

@media (max-width:450px){
  
}