.payment-note-creator{
  border: 1px solid black;
  width:fit-content;
  padding: 10px;
}

.payment-note-creator input{
  padding: 10px;
  display: flex;
  margin: 10px
}

.payment-note-creator .narration-input{
  width: 90%;
  margin: 10px auto;
}

.payment-note-button-container{
  width: 100%;
}

.payment-note-creator button{
  display: flex;
  margin: 20px auto;
  padding: 10px 20px;
  /* background: #000; */
}


.bill_details{
  display: flex;
  justify-content: center;
  padding: 10px;
}