.payment-note-creator{
  /* border: 1px solid black; */
  background: white;
  box-shadow: 1px 1px 5px black;
  /* width:fit-content; */
  padding: 10px;
  margin: 50px 20px;
}

.payment-note-creator input{
  padding: 10px;
  display: flex;
  margin: 10px;
}

.bill_details input{
  padding: 10px;
  display: flex;
  margin: 10px;
  width: 90%;
}

.payment-note-creator .narration-input{
  width: 90%;
  margin: 10px auto;
}

.payment-note-button-container{
  width: 100%;
}

.payment-note-creator button{
  display: flex;
  margin: 20px auto;
  padding: 10px 20px;
  /* background: #000; */
}


.bill_details{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.payment-note-by-date input{
  padding: 10px;
}



.payment-note-container{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  font-size: 0.8rem;
  width: 100%;
  cursor: pointer;
}

.payment-note-container-box{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}

.payment-note-container-box:hover{
  border: 2.0px solid green;
}

.payment-note-container-box:nth-child(odd){
  background: #c6ffaf;
}

.payment-note-container-box-heading{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  background: #00ac31;
  color: white;
}

.payment-note-container-box>div{
  width: 105px;
  display: flex;
  flex-direction: column;
}

.payment-note-by-date{
  background: white;
  box-shadow: 1px 1px 5px black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 100vh;
  overflow-x: scroll;
}

.payment-note-by-date-button, .payment-note-by-date-input, .payment-note-by-date-div {
  margin: 40px;
}

.payment-note-by-date button{
  padding: 10px;
}

.payment-note-by-date-input{
  padding: 10px;
}