.rates_table{
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* min-width: 120vw; */
  /* overflow-x: scroll; */
  /* margin: 20px auto; */
  box-shadow: 1px -0px 15px rgba(0, 0, 0, 0.614);
  /* padding: 20; */
}

.rates_table h3{
  /* margin: 15px auto; */
  /* background: #000; */
  text-align: center;
  width: 100%;
}


.rate-table-header{
  /* display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between; */
  
  /* box-shadow:  1px 1px 5px black; */
  border: 1px solid black;
  box-sizing: border-box;
  /* height: 3rem; */
  font-weight: bold;
}

.rate-table-header, .rate-table-row{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px 20px;
  width: 100%;
  /* background: #000; */
}

.rate-table-body{
  width: 100%;
  box-sizing: border-box;
}

.rate-table-row{
  /* display: flex; */
  /* align-items: center; */
  /* margin: 10px; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* width: 100vw; */
  /* background: #000; */
  box-sizing: border-box;
  padding: 10px 40px;
}

.rate-table-column{
  /* width: 10rem; */
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  /* color: #78f03bd4; */
}



.accordian-detail-box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:left;

}

.accordian-detail-box>div{
  margin: 10px 40px;
}

.accordian-hidden-box{
  margin: 10px 10px;
  box-sizing: border-box;
  display: flex;
  width: 150%;
  justify-content: space-between;
  font-size: 0.8rem;
}

/* .rate-table-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
 */


 @media (max-width:700px) {
  .rate-table-header>div{
    /* transform: scale(0.6); */
    font-size: 0.4rem;
    /* width: 100%; */
    padding: 10px;
  }

  /* .rate-table-header>div:nth-child(n+5){
    position: relative;
    background: #000;
    right: 20px;
  } */

  .rate-table-column:nth-child(n+2){
    /* background: #000; */
    /* margin: ; */
    padding: 0;
    position: relative;
    /* right: 40px; */
  }

  .accordian-detail-box>div{
    transform: scale(0.6);
    margin: 0;
  }

  .accordian-hidden-box{
    transform: scale(0.6);
    text-align: left;
    padding: 0;
  }

  .rate-table-header{
    padding: 0;
  }
  
  .rate-table-row>div{
    transform: scale(0.7);
  }
  .rate-table-row{
    padding: 0px;
  }
 }


@media (max-width:400px) {
  .rate-table-header{
    /* transform: scale(0.9); */
    font-size: 0.7rem;
    /* width: 100%; */
    /* word-wrap:normal; */
    /* margin: 10px auto; */
  }

  .rate-table-header>div{
    /* margin:0 0 0 10px; */
  }

  .rate-table-header>div{
    /* transform: scale(0.5); */
    padding: 0;
  }

  .rate-table-row{
    padding: 0;
  }

  .rates_table{
    /* transform: scale(0.6); */
    width: 100%;
  }
}